# Server Configuration
PORT=4000

# MongoDB Connection (Replace with your own connection string in .env)
MONGO_URI=mongodb+srv://<USERNAME>:<PASSWORD>@imagecluster.mongodb.net/imageDB?retryWrites=true&w=majority&appName=ImageCluster

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_DB=1
